#==============================================================================#
# Project specific
#==============================================================================#
.ignore/
out/

#==============================================================================#
# PYTHON
#==============================================================================#
__pycache__/
env/
build/
dist
*.egg-info/

#==============================================================================#
# IntelliJ
#==============================================================================#
.idea/
*.iml
