repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: check-added-large-files
        args: ['--maxkb=3000']
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-shebang-scripts-are-executable
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: detect-private-key
      - id: detect-aws-credentials
        args: ['--allow-missing-credentials']
      - id: check-symlinks
      - id: requirements-txt-fixer
      - id: end-of-file-fixer
      - id: pretty-format-json
        args: ['--autofix', '--indent=2']
        exclude: '(resources/examples/openapi\.json)$'
      - id: requirements-txt-fixer
      - id: mixed-line-ending
        args: ['--fix=no']

  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        args: ['--line-length=88']
